<div class="bookmark panel">

  <h3>Editing</h3>

  <p>Title: <input id="editTitle" value="{{ title }}"></p>
  <p>URL: <input id="editURL" value="{{ url }}"></p>

  <button id="update" data-id="{{ _id }}">Update</button>

</div>
