<h2>Bookmark-ER</h2>

<form id="addBookmark">
  <input type="text" placeholder="Bookmark Title" id="bookmarkTitle">
  <input type="text" placeholder="Bookmark URL" id="bookmarkURL">
  <button>Add Bookmark</button>
</form>

<ul>
  {{#each bookmark}}
    <li data-id="{{_id}}">
      <a href="#bookmark/{{_id}}">{{title}}</a>
    </li>
  {{/each}}
</ul>
