<h2>Bookmark-ER</h2>

<form id="addBookmark">
  <input type="text" placeholder="Bookmark Title" id="bookmarkTitle">
  <input type="text" placeholder="Bookmark URL" id="bookmarkURL">
  <button>Add Bookmark</button>
</form>

<ul class="collection">
  {{#each bookmark}}
    <li data-id="{{_id}}" class="collection-item">
      <a href="#bookmark/{{_id}}">{{title}}</a><span class="badge">Visited: {{visited}}</span>
    </li>
  {{/each}}
</ul>

