<form id="addBookmark">
  <input type="text" placeholder="Bookmark Title" id="bookmarkTitle">
  <input type="text" placeholder="Bookmark URL" id="bookmarkURL">
  <button>Add Bookmark</button>
</form>
