<div class="bookmark">

  <h3>{{title}}</h3>
  <p><a href="{{url}}">{{url}}</a></p>

  {{#if visited}}
    <p>This has been visited</p>
  {{else}}
    <p>This has not been visited</p>
  {{/if}}

</div>
